
/* This is a comment */


/* body, html{
	font-size: 15px;
	font-family: sans-serif;
	color: dimgray;
} */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h2,
h4,
h5,
h6{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	background: tomato;
	color: white;
	margin: 20px; 
}



h1 {
	margin: 1em 0px;
	padding: 0px;
	color: #fff;
	text-align: center;
	font-weight: 300;
	font-size: 80px;
}


h2{
	color: blueviolet;
	font-weight: 700;
}

 /*estilos del menu*/ 
.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
}


.dropdownmenu ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: blueviolet;
	color: #FFFFFF;
	display: block;
	/*font: bold 12px/20px sans-serif;*/
	font-weight: 400;
	padding: 10px 50px;
	text-align: left;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: blueviolet;
}
#submenu a {
	background-color:#000000;
}



#contents {
	background-color: lightgrey;
	width: 300px;
	padding: 10px; 
	margin: 20px; 
  }

.intro-header { 
    padding-top: 20px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 20px;
	text-align: center;
	background-color: teal;
    background-size: cover;
	height: 600px;
}

.intro-message {

	position: relative;
    padding-top: 8%;
    padding-bottom: 8%;
}



.dropdownmenu .container_topnav [class="logo"] {
	display: inline-block;
	color: #333;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;
	background: white;
	border-radius: 50%;  /*lo hace redondito*/
	width: 150px;
	height: 150px;
	line-height: 40px;
	margin: 0 10px;
	position: absolute;	
}


/*-----------------Estilos de footer-----------------*/

.footer {
	background: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
  }
  
.footer .social [class^="icon-"] {
display: inline-block;
color: #333;
text-decoration: none;
font-size: 30px;
padding: 10px;
background: white;
border-radius: 50%;  /*lo hace redondito*/
width: 50px;
height: 50px;
line-height: 40px;
margin: 0 10px;
}



