


:root {
    margin: 0;
    padding: 0;

    --body-fonts: "Helvetica", "Arial", sans-serif;
    --line-height: 1.5;

    /* Our palette */
    --dark-blue: #34647a;
    --blue-purple: #58508d;
    --purple: #bc5090;
    --pink: #ff6361;
    --yellow2: #ffa600;
    --dark-gray: #313335;
    --light-gray: #dfe3e6;

    --logo-yellow: #ffcc00ff;
    --yellow: #ffcc00ff;
    --logo-blue: #00aad4ff;

    --rosita: #fd6c6c8f;

    --green2:  rgb(86, 173, 119);

    /* Para utilizarlo 
    p {
        color: var(--primary-color);
        font-family: var(--body-fonts);
        line-height: var(--line-height);
    } */
}


/* MASTHEAD */

header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
header.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
  
@media (min-width: 768px) {
    header.masthead {
      padding-top: 17rem;
      padding-bottom: 12.5rem;
    }
    header.masthead .masthead-subheading {
        font-size: 2.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }
    header.masthead .masthead-heading {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }
}
  

/* NAVBAR */

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
}
#mainNav .navbar-toggler {
    padding: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.75rem;
    color: #fff;
    text-transform: uppercase;
    background-color: var(--yellow);
    border: 0;
}
#mainNav .navbar-brand {
    padding: 0rem;
    margin: 0rem;
}
#mainNav .navbar-brand img {
    height: 45px;
    width: 200px;
}
#mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.85rem;
    color: #fff;
    letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: var(--yellow);
}
  
@media (min-width: 992px) {
    #mainNav {
      padding-top: 1rem; /* Aumentar el padding si queremos que la navbar sea más ancha */
      padding-bottom: 1rem;
      border: none;
      background-color: transparent;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;

    }

   
    #mainNav.navbar-shrink {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: var(--dark-gray);
    }
   
    #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
        height: 45px;
        width: 200px;
    }
    #mainNav .navbar-nav .nav-item {
      margin-right: 0.5rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }
}

/* Table of contents */

.toc_container {
    background: white none repeat scroll 0 0;
    margin-left: 50px;
    border-left: 5px solid var(--logo-yellow);
    display: table;
    font-size: 90%;
    margin-bottom: 1em;
    padding: 20px;
    width: 18%;
    position: fixed;
    bottom: 0;
}

.toc_title {
    font-weight: 700;
    text-align: center;
    color: black;
}

.toc_container li, .toc_container ul, .toc_container ul li{
    list-style: outside none none !important;
}

.toc_container a {
    color:  #999;
}




/* PAGE-SECTION */

.page-section {
    padding: 6rem 6rem;
}
.page-section h2.section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.page-section h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
}




/* TIMELINE */

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}
.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}
.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
}
.timeline > li:after {
    clear: both;
}
.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: var(--light-gray);
}
.timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline > li:last-child {
    margin-bottom: 0;
}
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}
.timeline .timeline-heading h4.subheading {
    text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
    margin-bottom: 0;
}
  
@media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
}

@media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .timeline > li .timeline-image h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
}
  
@media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
    .timeline-month {
        text-transform: uppercase;
        padding-bottom: 1rem;
        color: var(--logo-blue);
        font-size: 2.5rem;
        font-family: 'Dosis';
        font-weight: 600;
    }
  }


  /* TEAM */
  
  .team-member {
    margin-bottom: 3rem;
    text-align: center;
  }
  .team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
  }
  .team-member h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}


/* FOOTER */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 50px 0;
    box-sizing: border-box;
    background-color: var(--dark-gray);
}

.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container{
    width: 45%;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .logo_container img{
    width: 400px;
    height: auto;
}

.inner_footer .footer_third{
    width: calc(21.67% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
    text-align: center;
}

.inner_footer .footer_third:last-child{
    margin-right: 0;
}

.icon img{
    width: 60px;
    height: 60px;
}

.footer_third a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }

.footer_third a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.inner_footer .footer_third h1{
    font-size: 22px;
    display: block;
    color: white;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a{
    display: inline-block;
    font-size: 18px;
    color: grey;
    font-weight: 200;
    width: 30%;
    padding-bottom: 5px;
}

.inner_footer .footer_third li{
    padding: 0 5px;
    font-size: 20px;
    color: white;
}

.inner_footer .footer_third span{
    color: grey;
    font-size: 18px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
}

@media(max-width: 800px){
    .footer .inner_footer{
        width: 90%;
    }
    .inner_footer .logo_container,
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
}


/* MASTHEAD DESCRIPTION */

header.masthead2 {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    margin-top: 6em;
    text-align: center;
    color: #fff;
    background-image:  url("../img/description5.png");
    opacity: 1;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead2 .masthead-heading2 {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
  
@media (min-width: 768px) {
    header.masthead2 {
      padding-top: 17rem;
      padding-bottom: 12.5rem;
    }
    header.masthead2 .masthead-heading2 {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }
}


/* MASTHEAD HUMAN PRACTICES */

header.masthead3 {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    margin-top: 4.5em;
    background-image: url("../img/humanpractices.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

  
@media (min-width: 768px) {
    header.masthead3 {
      padding-top: 20rem;
      padding-bottom: 17rem;     
    }
}


/* MASTHEAD TEAM */

header.masthead4 {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    margin-top: 5.5em;
    background-image: url("../img/team2.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

  
@media (min-width: 768px) {
    header.masthead4 {
      padding-top: 17rem;
      padding-bottom: 17rem;     
    }
}



/* COSAS VARIAS */

.page-section #homepage  {  /* Imagen de la homepage */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.page-section h1 {
    text-transform: uppercase;
    padding-bottom: 1rem;
    color: var(--logo-blue);
    font-size: 2.5rem;
    font-family: 'Dosis';
    font-weight: 600;
}


.page-section .spacer {
    font-size: 0; 
    height: 50px;
    line-height: 0;
}



/* HOMEPAGE: USEFUL LINKS */

.container {
    background-color: transparent;
    position: inline-block;
}

#useful-links {
    background-color: var(--green2);
}

#page-top1 {
    background-color: var(--light-gray);
}

.page-section1 {
    background-color: white;
    margin: 3rem 3rem 3rem 20rem;
}


.fa-cogs:hover{
    color: var(--logo-yellow) !important;
    width: 130px;
    height: 130px;
 }

 .fa-flask:hover{
    color: var(--logo-yellow) !important;
    width: 120px;
    height: 120px;
 }

 .fa-microchip:hover{
    color: var(--logo-yellow) !important;
    width: 120px;
    height: 120px;
 }

 .fa-chart-bar:hover{
    color: var(--logo-yellow) !important;
    width: 120px;
    height: 120px;
 }
 
 .fa-lightbulb:hover{
    color: var(--logo-yellow) !important;
    width: 120px;
    height: 120px;
 }
 
 .page-section .card{
    margin:.5rem;
    -webkit-box-shadow:0 1px 5px #E2E9ED;
    box-shadow:0 1px 5px #E2E9ED;
    -webkit-transition:-webkit-box-shadow 0.2s ease, -webkit-transform 0.2s ease;
    transition:-webkit-box-shadow 0.2s ease, -webkit-transform 0.2s ease;
    transition:box-shadow 0.2s ease, transform 0.2s ease;
    transition:box-shadow 0.2s ease, transform 0.2s ease, 
    -webkit-box-shadow 0.2s ease, -webkit-transform 0.2s ease;
    text-align:center
  }

  .page-section .card:hover{
      z-index:0;-webkit-box-shadow:0 8px 2rem rgba(0,0,0,0.2);
      box-shadow:0 8px 2rem rgba(0,0,0,0.2);
      -webkit-transform:scale(1.1);
      transform:scale(1.1);
      cursor:pointer
  }



 /* DESCRIPTION PAGE: ABSTRACT */
 
 .abstract {
     background-color: var(--green2);
     color: white;
     padding: 2rem 7rem;
     margin: 2rem 5rem;
     font-family: 'Dosis';
     font-size: 20px;
 }


 .abstract h1 {
    text-transform: uppercase;
    padding-bottom: 1rem;
    color: white;
    font-size: 2.5rem;
    font-family: 'Dosis';
    font-weight: 600;
}

#description-section {
    background-color: white; 
    margin: 3rem 3rem 3rem 20rem;
}

@media(max-width: 800px) {
    .abstract {
        padding: 2rem 2rem;
        margin: 2rem 2rem;
        font-size: 15px;
    }

    .toc_container {
        display: none !important;
    }

    #description-section {
        margin: 3rem 2rem 3rem 3rem;
        font-size: 14px !important;
        
    }
 }


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}







.timeline_icons:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
  }

.team-member .master {
    text-transform: uppercase;
    padding-bottom: 1rem;
    color: var(--logo-blue);
    font-size: 1rem;
    font-family: 'Dosis';
    font-weight: 550;
}


	/* --- [ STYLING FOR SCROLLING PROGRESS BAR ] --- */

    .header {
        position: fixed;
        top: 75px;
        z-index: 1;
        width: 100%;
        background-color: #f1f1f1;
        
      }


    .header .progress-container {
        width: 100%;
        height: 8px;
        background: #ccc;
      }
      
    .header .progress-bar {
        height: 8px;
        background: var(--logo-yellow);
        width: 0%;
      }





       